# Gateway service environment variables

AUTH_SERVICE_URL=http://auth:8000
BOOKING_SERVICE_URL=http://booking:8000
BOOKING_STATUS_SERVICE_URL=http://booking-status:8000
PAYMENT_SERVICE_URL=http://payment-mock:8000
